
<div class="header-container">
    <div class="logo-container">
      <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a> -->
      <!-- <nb-action  nbTooltip="My WishList" nbTooltipPlacement="bottom" class="control-item" icon="bookmark"> <button ></button></nb-action> -->
      <a class="logo" href="#" (click)="navigateHome()">Virtual Event</a>
    </div>
    <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
      <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
    </nb-select> -->
  </div>
  
  <div class="header-container">
    <nb-actions size="small">
  
      <!-- <nb-action class="control-item">
        <nb-search type="column-curtain" ></nb-search>
      </nb-action> -->
     
      <!-- <nb-action  nbTooltip="Floor Map" nbTooltipPlacement="bottom" class="control-item" icon="map"> <button ></button></nb-action>
         
      <nb-action  nbTooltip="Stall List" nbTooltipPlacement="bottom" class="control-item" icon="list"> <button ></button></nb-action>
      <nb-action  nbTooltip="VR Stall" nbTooltipPlacement="bottom" class="control-item" icon="eye"> <button ></button></nb-action> -->
      <nb-action class="user-action"  >
        <nb-user size="large"
        name={{authservice.currentUserName}}
        title="Customer"
        picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG"
        color="#cccccc">
  </nb-user>    
      </nb-action>
    </nb-actions>
  </div>
  