
<!DOCTYPE html>
<div class="header-container">
    <div class="logo-container">

      <nb-actions size="small">
        <nb-action icon="home-outline"></nb-action>
          <nb-action icon="map-outline"></nb-action>
          <nb-action icon="list-outline"></nb-action>
          <nb-action icon="arrow-circle-left-outline"></nb-action>

          
          
      </nb-actions>
      <div>
        
        <h5>StallName</h5>
        
      </div>
      
      
    </div>

  </div>
  
  <div class="header-container">
    <nb-actions size="small">
   
        <nb-action icon="person-outline"></nb-action>
    </nb-actions>
  </div>

  <!--       <nb-action class="user-action"  >
        <nb-user size="large"
        name={{authservice.currentUserName}}
        title="Customer"
        picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG"
        color="#cccccc">
  </nb-user>    
      </nb-action> -->
  