<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card col-12 col-sm-6 col-md-8>
      <nb-card-header >Stall List</nb-card-header>
      <nb-card-body>   

          <div class="col-md-2 col-lg-10 col-xxxl-6">
            <nb-card class="list-card" size="small">
             
              <nb-menu [items]="items" autoCollapse="true">
              
              </nb-menu>  
              <button>asd</button>
              
            </nb-card>
          </div>
      
       
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close </button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <div row>
 <!-- <button nbButton (click)="open(dialog)" center >Stall List</button> -->
   </div>

   <nb-layout-column>

    <button nbButton (click)="open(dialog)" center>List of Stalls</button>
  </nb-layout-column>
  