<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="width: 300px;" >
      <nb-card-header class="text-center" style="background-color: #ff3d71;">
       <h4 style="color: aliceblue;"> Stall List</h4></nb-card-header>
      <nb-card-body>   

          <div class="container">
                         
              <nb-menu [items]="items" autoCollapse="true">               
              </nb-menu>    
              
            
          </div>
      
       
      </nb-card-body>
      <nb-card-footer >
        <button nbButton (click)="ref.close()" status="danger" class="container">Close</button>
        
      </nb-card-footer>
    </nb-card>
  </ng-template>


   <nb-layout-column>
     <div class="container">
      <div class="row">
        
        <div class="col-6">
          <button nbButton (click)="open(dialog)" >Product List</button>
        </div>
        <div class="col-6">
          <button nbButton (click)="open(dialog)" >List of Stalls</button>
        </div>
        
        
       </div>
     </div>
     


    
    
  </nb-layout-column>
  